body {
  width: 500px;
  height: 560px;
}
h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
p {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    color: black;
}
.image_wrap {
    width: 100%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#tabi-logo {
  height: 127px;
  padding-bottom: 13px;
}
#htb-logo {
    height: 180px;
}

.ui-tabs-nav {
    background-color: #222 !important; /*To overwrite jquery-ui.css*/
    height: 25px;                        /*To stop nav block scaling of tab size*/
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0;
    border: none;
    background: none;
    border-radius: 2px 2px 0 0;
}
.ui-tabs-panel {
    background: rgba(244, 242, 242, 0.69) !important;
}
.ui-tabs .ui-tabs-nav li {
    position: relative;
    top: -5px !important;
    border: none;
	margin: 0 0 -5px 0;
    background: none;
}
.ui-tabs-anchor{
    color: white !important;
    text-decoration: none !important;
}
#main ul.ui-widget-header, #main ul.ui-widget-content, #main ul.ui-state-default, #main ul.ui-state-hover {
    background: none;
    border: none;
}
.ui-state-active {
    background-color: rgba(33, 32, 32, 0.95) !important;
    height: 113%;
}

#main .ui-tabs-active a {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-color: white !important;
   border-color: #CCCCCC;
   border-style: solid;
   border-width: 1px 1px 0;
   border-radius: 5px 5px 0 0;
   color: #222222;
   position: relative;
   z-index: 5;
   color: black !important;
   text-decoration: none !important;
}    
a:focus{
 outline: none !important;
}

kbd {
  background-color: #ededed;
  border-color: #dddddd;
  color: #222222;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: inherit;
  padding: 0.125rem 0.25rem 0;
  border-radius: 3px; 
}